.navbar{
    transition: 0.8s;
    padding: 10px 10%;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.349);
    .navbar-container{
        display: flex;
        justify-content: space-between;
        .navbar-logo{
            font-size: 30px;
            color: #ffffff;
        }

        ul{
            list-style: none;
            display: flex;
            gap: 30px;
            align-items: center;
            color: white;

            a{
                color: white;
            }

          
        }
    }
}

.navbar-scrolled{
    transition: 0.8s;
    background-color: white;
    .navbar-container{
        .navbar-logo{
            color: black;
        }
        ul{color: black;
            a{
                color: black;
            }
        }
    }
}